@charset "UTF-8";

/* Versão para Mobile First */

/* Paleta de Cores 
Cor1: #190D0D Site
Cor2: #504343 Ao passar o Mouse (hover)
Cor3: #201717 Menu
Cor4: #140707 Nav
Cor5: #0F0202 Header
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&family=Parisienne&display=swap');


:root {
    --Cor1-site: #190D0D;
    /* Site */
    --Cor2-hover: #504343;
    /* Ao passar o se (hover) */
    --Cor3-menu: #201717;
    /* Menu */
    --Cor4-nav: #140707;
    /* Nav */
    --Cor5-header: #0F0202;
    /* Header */
    --fonte-padrao: arial, verdana, helvetica, s-serif;
    --fonte-header: "Dancing Script", cursive;
    --fonte-menu: "Imperial Script", cursive;
    --font-weight: 400;
    --font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--Cor2-hover), var(--Cor3-menu));
}

header>h1 {
    color: var(--Cor2-hover);
    font-family: var(--fonte-header);
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0.26);
}

header>p {
    font-family: var(--fonte-menu);
    font-size: 2.3em;
    color: var(--Cor2-hover);
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0.26);
}