@charset "UTF-8";

/* Versão para Mobile First */

/* Paleta de Cores 
Cor1: #190D0D Site
Cor2: #504343 Ao passar o Mouse (hover)
Cor3: #201717 Menu
Cor4: #140707 Nav
Cor5: #0F0202 Header
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Imperial+Script&family=Parisienne&display=swap');


:root {
    --Cor1-site: #190D0D;
    /* Site */
    --Cor2-hover: #504343;
    /* Ao passar o Mouse (hover) */
    --Cor3-menu: #201717;
    /* Menu */
    --Cor4-nav: #140707;
    /* Nav */
    --Cor5-header: #0F0202;
    /* Header */

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-header: "Dancing Script", cursive;
    --fonte-menu: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: var(--fonte-padrao);
    /* Fonte do Site padrão */
    font-size: 1em;
    /* Tamanho da fonte */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Borda no tamanho */
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(to bottom, var(--Cor1-site), var(--Cor2-hover)) no-repeat;
    background-size: cover;
    background-position: center center;
    
}

main {
    height: 100vh;
    width: 100vw;
}

header {
    background-image: linear-gradient(to bottom, var(--Cor1), var(--Cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 60px;

}

header>h1 {
    color: rgb(94, 88, 88);
    font-family: var(--fonte-header);
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.30);
}

header>p {
    font-family: var(--fonte-header);
    font-size: 1.5em;
    color: var(--Cor5);
    padding-right: 20px;
    padding-left: 10px;
    max-width: 500px;
    margin: auto;
}

nav {
    background-color: var(--Cor3);
    padding: 15px;
    box-shadow: 0px 1px 1px rgb(163, 120, 120);
}

nav>a {
    color: var(--Cor2);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav>a:hover {
    background-color: var(--Cor5);
    /*color: rgb(87, 46, 46);*/
    color: rgb(102, 104, 107);
}

menu {
    background: var(--Cor3);
}

menu>a {}